html{
    font-family:Arial
}

#canvcontainer{
    width:80%
}
#canvcontainer.vertical{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#render{
    display:block;
    touch-action:manipulation;
    user-select:none
}
.horizontal #render{
    height:100%;
    margin:auto;
}
.vertical #render{
    width:100%;
}
#colStops{
    margin:0;
    position:relative
}
.colstop{
    position:absolute;
    width:20px;
    height:20px;
    transform:translateX(-10px);
    border:1px solid black
}
body{
    margin:0;
    width:100vw;
    height:var(--height);
}

#maincontent{
    width:100%;
    height: var(--height);
    display:flex;
    flex-direction:column
}
#top,#mid{
    flex-grow:0;
    flex-shrink:0
}
#top{
    flex-basis:20px
}

#mid{
    display:flex;
}
#bottom{
    flex-grow:1;
    overflow-y:auto
}
#sidebar{
    flex-grow:1
}

#xhandle,.colstop{
    touch-action:none;
}
#xhandle{
    position:relative;
    height: 7px;
    background:#555;
    cursor:row-resize
}
@media (pointer:coarse){
    .colstop::after{
        position:absolute;
        content:"";
        display:block;
        height:200%;
        width:200%;
        left:-50%;
        top:-50%;
    }
    #xhandle::after{
        position:absolute;
        content:"";
        display:block;
        height: 400%;
        width:100%;
        top: -150%;
    }
}


#colStops{
    height:25px
}

#paletteDisplay{
    margin:auto;
    width:700px
}

#paletteEditor{
    margin: 7px;
}

#curStop div{
    flex:1 1
}

.inputItem span{
    width:70px;
    display:inline-block;
    text-align:right
}
input:hover{
    border-color:#ccc
}
input{
    transition:border-color .2s;
    color:#555;
    background:#eee;
    border-width:0 0 1px;
    border-style:solid;
    border-color:#999;
}

@media(prefers-color-scheme:dark){
    body{
        background:#222;
        color:#ccc
    }

    input{
        color:#ccc;
        background:#444;
    }
}

#bottom > div{
    display:none
}
#bottom .visible{
    display:block
}

#vidTimeline{
    width:700px;
    margin-left:30px
}
#animStops{
    width:700px;
    height:30px;
    position:relative
}
.animStop{
    width:20px;
    height:20px;
    background:red;
    position:absolute;
    transform:translateX(-10px);
}
